.app-layout {
  .app-nav {
    margin-bottom: 0px;
    padding-bottom: 15px;
  }
  .app-content {
    margin: 5px 0 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    padding: 15px;
    position: relative;
    left: 0;
    top: 0;
  }
}
