.self-listen {
  .search-list {
    padding-left: 10px;
    margin-bottom: 30px;
    .form-item {
      margin-top: 10px;
      margin-bottom: 10px;
      .form-label {
        min-width: 90px;
        display: inline-block;
        text-align: left;
      }
    }
    .search-btn {
      text-align: left;
      .searchBtn {
        margin-top: 14px;
      }
    }
  }
  .handle-buttons {
    margin-bottom: 30px;
    .line {
      text-align: left;
      .btn {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
      .sort-box {
        float: right;
        .sort-title {
          position: relative;
        }
      }
    }
  }
}

.ant-message {
  z-index: 200000 !important;
}

