@import '../mixin.scss';
.tip-app-module-edit {
  @include module-title;
  .module-content {
    padding: 30px 0;
    text-align: center;
    .img-text {
      display: inline-block;
      width: 230px;
      height: 45px;
      position: relative;
      left: 0;
      top: 0;
      .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 195px;
        height: 45px;
        margin-right: 20px;
      }
      .text-box {
        position: absolute;
        left: 50px;
        top: 28px;
        margin-right: 20px;
        text-align: left;
        color: #aaaaaa;
        font-size: 12px;
      }
    }
    .btn {
      display: inline-block;
      vertical-align: middle;
      height: 36px;
      border-radius: 18px;
      width: 80px;
      outline: none;
      border: 1px solid red;
      background-color: transparent;
      color: red;
      font-size: 12px;
      line-height: 36px;
    }
  }
}
