@import '../mixin.scss';
.classfiy-tab-module {
  @include module-title;
  .module-content {
    .add-categories {
      margin-bottom: 20px;
    }
    padding-top: 20px;
    padding-left: 20px;
    .categories-line {
      margin-bottom: 5px;
      display: flex;
      .item {
        flex: 1;
        margin-right: 10px;
      }
      .btn {
        margin-top: 4px;
        width: 60px;
        margin-right: 10px;
      }
      .delete {
        margin-top: 8px;
        width: 22px;
        height: 24px;
        margin-right: 20px;
      }
    }
  }
}
