.app-bread-crumb-nav {
  margin-bottom: 15px;
}

.app-content-title {
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 0;
  font-weight: bold;
  margin-bottom: 15px;
}

.app-serach-form {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 5px 5px !important;
  margin-bottom: 15px !important;
  label {
    text-align: left;
    font-size: 12px !important;
    word-wrap: break-word;
    display: inline-block;
    width: 95px;
    padding-left: 10px;
    max-width: 95px;
    overflow: hidden;
  }
  .ant-calendar-picker {
    .ant-calendar-picker-container {
      width: 100%;
      .ant-calendar {
        width: 100%;
      }
    }
  }
  .ant-form-item {
    display: flex;
    margin-bottom: 12px !important;
    .ant-form-item-control-wrapper {
      display: inline-block;
      flex: 1;
      max-width: 300px;
    }
  }
}

.app-handle-buttons {
  margin: 0 0 15px !important;
  .line {
    .btn {
      margin-right: 10px;
    }
  }
}

.app-detail-module-title {
  height: 40px;
  padding: 10px 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 20px;
    width: 4px;
    background-color: #5f9dd9;
  }
}

// 树形节点的样式
.tree-span {
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  font-size: 10px !important;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
}

.tree-span-green {
  background-color: #719827;
}

.tree-span-blue {
  background-color: #4097c8;
}
