.modifyIntellApply-edit-container{
  background-color: #fff;
  padding: 30px 20px;
  .modifyIntellApply-title{

    margin: 25px 50px;
    font-size: 18px;
    font-weight: bold;
  }
  .modifyIntellApply-basic-info{
    background-color: #fff;
    margin-left: 50px;
    border: 1px solid slategray;


    .title1{
      border-bottom: solid 1px slategray;
      background-color: gainsboro;
      color: #000000;
      line-height: 50px;
      padding-left: 15px;
    }
    .modifyIntellApply-form{
      padding: 20px 0;
      .second-title{
        margin-left: 20px;
        .modifyIntellApply-form-mark{
          display: inline-block;
          background: blue;
          width:5px;
          height:20px;
          float: left;
          margin-right: 10px;
        }
      }
      .modifyIntellApply-table{
        padding: 0 20px;
      }

    }

  }
  .modifyIntellApply-button{
    margin: 25px 50px;
    text-align: center;
  }
}