.admin-editor-container {
  .toolbar {
    border: 1px solid #e0e0e0;
    border-bottom: none;
  }
  h1 {
    font-size: 20px;
  }
  .textarea {
    border: 1px solid #e0e0e0;
    height: 400px;
    max-height: 400px;
    overflow: auto;
  }
  ol{
    list-style-type: decimal;
  }
  ul{
    list-style-type: disc;
  }
}
