.letter-content-container{
    background: #fff;
  padding: 40px 20px;
  .letter-title{
    font-size: 20px;
    font-weight: bold;
  }
  .letter-search{
    padding: 20px;
  }
}
.ant-modal-wrap{
  color: #000;
  .letter-center-remove-confirm{
    .ant-modal-content{
      .ant-modal-header{
        text-align: center;
      }
      .ant-modal-footer{
        display: none
      }
    }
  }
}