.main-classfiy {
  .search-list {
    padding-left: 10px;
    margin-bottom: 30px;
    .form-item {
      margin-top: 10px;
      margin-bottom: 10px;
      .form-label {
        min-width: 70px;
        display: inline-block;
        text-align: left;
      }
    }
    .search-btn {
      text-align: left;
      .searchBtn {
        margin-top: 14px;
      }
    }
  }
  .handle-buttons {
    margin-bottom: 30px;
    .line {
      text-align: left;
      .btn {
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
      .sort-box {
        float: right;
        .sort-title {
          position: relative;
          top: -10px;
        }
      }
    }
  }
}

.ant-message {
  z-index: 200000 !important;
}

.tag-set {
  .ant-tag {
    &.ant-tag-checkable {
      border: 1px solid #ccc;
      line-height: 30px;
      min-width: 40px;
      text-align: center;
      height: 30px;
      border-radius: 15px;
      &.ant-tag-checkable-checked {
        border: 1px solid #1585ff;
        background-color: #fff;
        color: #1585ff;
        font-weight: 700;
      }
    }
    &.ant-tag-has-color {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      .anticon-cross{
        font-size: 16px;
      }
    }
  }
}
