.award-developer-reorder {
  .summary {
    padding-left: 20px;
    &>div {
      box-sizing: border-box;
      display: inline-block;
      width: 25%;
      height: 40px;
      padding-right: 5px;
      .title {
        margin-right: 5px;
      }
      .num {
        color: #3f90f7;
        margin-right: 4px;
      }
    }
  }
  .app-serach-form {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px 5px !important;
    margin-bottom: 15px !important;
    label {
      width: 90px;
      max-width: 90px;
      line-height: 15px;
      white-space: normal;
      padding-top: 5px;
    }
  }
  .develop-name {
    color: #3f90f7;
    position: relative;
    top: -2px;
  }
}
