.company-check-container{
  background-color: #fff;
  padding: 30px 20px;
  .company-title{

    margin: 25px 50px;
    font-size: 18px;
    font-weight: bold;
  }
  .company-basic-info{
    background-color: #fff;
    margin-left: 50px;
    border: 1px solid slategray;


    .title1{
      border-bottom: solid 1px slategray;
      background-color: gainsboro;
      color: #000000;
      line-height: 50px;
      padding-left: 15px;
    }
    .company-form{
      padding: 20px 0;
    }

  }
  .colum1{
    margin-top: 20px;
    border-bottom: 0px solid slategray;
    .title1{
      .title1-value{
        color: cornflowerblue;
      }
    }
  }
  .colum3{
    margin-top: 20px;
  }
  .company-button{
    margin: 25px 50px;
    text-align: center;
  }
}