.withdraw-check-container-detail{
  background-color: #fff;
  .withdraw-title{

    margin: 25px 50px;
    font-size: 18px;
    font-weight: bold;
  }
  .withdraw-basic-info{
    background-color: #fff;
    margin-left: 50px;
    border: 1px solid rgb(202, 201, 202);
    margin-bottom: 40px;

    .title1{
      border-bottom: solid 1px rgb(202, 201, 202);
      background-color: rgb(238,240,243);
      color: #000000;
      line-height: 50px;
      padding-left: 15px;
    }
    .withdraw-form{
      padding: 20px 0;
    }
    .withdraw-table{
      .ant-table-thead > tr > th{
        background-color: #fff;
      }
    }

  }
  .colum1{
    margin-top: 20px;
    border-bottom: 0px solid rgb(202, 201, 202);
    .title1{
      .title1-value{
        color: cornflowerblue;
      }
    }
  }

}
