.cata-edit-container {
  background-color: #fff;
  padding: 40px 20px;
  .action-container {
    padding: 20px 0;
    button {
      margin-left: 25px;
    }
  }
  .table {
    padding: 0 25px;
  }
  .test{
    z-index: 200000;
  }
}

.help-center-remove-confirm {
  .ant-modal-title {
    text-align: center;
    color: red;
  }
}