.award-developer {
  .table-rule-name {
    color: #3f8ef9;
    cursor: pointer;
  }
  .down-1-px {
    position: relative;
    top: 3px;
  }
  .ist-model-div {
    position: relative;
    top: -3px;
  }
}
