.server-top-container {
  background-color: #fff;
  padding-top: 50px;
  .server-title{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 50px 30px;
  }
  .server-search{
    margin-bottom: 20px;
  }
}

.ant-modal-wrap {
  .server-reject-confirm{
    .ant-modal-content{
      text-align: center;
      .ant-modal-body{
        .reject-textArea{
          display: block;
        }
      }
    }
  }
}

