.sort-list {
  display: inline-block;
  .sort-item {
    display: inline-block;
    margin-right: 10px;
    color: #A1A1A1;
    position: relative;
    width: 70px;
    height: 30px;
    cursor: pointer;
    user-select: none;
    .sort-name {
      position: absolute;
      left: 8px;
      top: 0;
      height: 30px;
      line-height: 30px;
      &.active {
        color: #1890ff;
      }
    }
    .sort-icon-up {
      position: absolute;
      right: 0;
      height: 10px;
      line-height: 10px;
      top: 8px;
      font-size: 10px;
      color: #a5a5a5;
      &.active {
        color: #1890ff;
      }
    }
    .sort-icon-down {
      position: absolute;
      right: 0;
      bottom: 6px;
      height: 10px;
      line-height: 10px;
      font-size: 10px;
      color: #a5a5a5;
      &.active {
        color: #1890ff;
      }
    }
  }
}
