.test {
  margin: 100px auto;
  width: 600px;
  height: 600px;
  border: 1px solid red;
  .test-text {
    text-align: center;
    line-height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid green;
  }
}
