@import '../../mixin.scss';
.child-table-add {
  @include search;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; // 重置样式
  .ant-form-item-label {
    text-align: left !important;
  }
  .title {
    margin: 0 auto;
    width: 98%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
    color: #A1A1A1;
    font-size: 16px;
    font-weight: bold;
    .text {
      float: left;
    }
    .function {
      float: left;
      color: #1585ff;
      font-size: 16px;
      font-weight: bold;
    }
    .back {
      float: right;
      position: relative;
      bottom: 2px;
    }
  }
  .content {
    margin-top: 10px;
    flex: 1;
    overflow: hidden;
    .form {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .body {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
        box-sizing: border-box;
        position: relative;
        left: 0;
        top: 0;
        .left {
          flex: 3;
          overflow-y: auto;
          margin-right: 5px;
          padding-right: 10px;
        }
        .right {
          flex: 4;
          overflow-y: auto;
          margin-left: 5px;
          padding-left: 10px;
          .no-module {
            margin: 100px auto;
            text-align: center;
            letter-spacing: 2px;
            font-size: 24px;
            font-weight: bold;
          }
        }
        .submit {
          position: absolute;
          right: 1%;
          bottom: 0;
          height: 40px;
          width: 98%;
          border-top: 1px solid #dddddd;
          box-sizing: border-box;
          .submit-button {
            float: right;
          }
        }
        .content-title {
          position: relative;
          left: 0;
          top: 0;
          height: 30px;
          line-height: 27px;
          padding-left: 10px;
          color: #A1A1A1;
          letter-spacing: 2px;
          font-size: 14px;
          font-weight: bold;
          border-bottom: 3px solid #1585ff;
          box-sizing: border-box;
          &::before {
            position: absolute;
            left: 34px;
            top: 12px;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #1585ff;
            border-top: 8px solid transparent;
          }
        }
        .click-to-add-box {
          margin-top: 15px;
          .click-to-add {
            height: 100px;
            &>.add-button {
              cursor: pointer;
              float: left;
              width: 22%;
              min-width: 100px;
              margin-right: 10px;
              margin-bottom: 10px;
              height: 40px;
              font-size: 10px;
              border-radius: 5px;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
        .tan-time {
          display: inline-block;
          width: 50%;
          &>.input {
            width: 70%;
            margin: 0 5px;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}
